n8n/workflows/03 - Indexar persona.json
{
  "name": "03 - Indexar persona",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "indexar-persona",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c3551617-eeb5-47a2-87d7-3931723c560f",
      "name": "Webhook",
      "webhookId": "64e6b6cb-dcaa-4999-86cf-863b798e656e"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM persona_embedding WHERE persona_id = {{ $json.body.persona_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "abac6cf7-0f10-4413-8fc4-1bf0cdf02d09",
      "name": "Borrar viejo",
      "credentials": {
        "postgres": {
          "id": "RBTY0Y0JrfGucqyf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, primer_nombre, segundo_nombre, apellidos, tipo_documento, nro_documento, fecha_nacimiento, genero, correo, celular, foto_path\nFROM persona\nWHERE id = {{ $('Webhook').item.json.body.persona_id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        0
      ],
      "id": "33447c4c-d637-41c1-ac36-a0febf76cc27",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "RBTY0Y0JrfGucqyf",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const p = $input.item.json;\nconst nombre = [p.primer_nombre, p.segundo_nombre, p.apellidos].filter(Boolean).join(' ');\nconst contenido = `${nombre}, ${p.tipo_documento} ${p.nro_documento}, nacido el ${p.fecha_nacimiento}, genero ${p.genero}, correo ${p.correo}, celular ${p.celular}.`;\nreturn { persona_id: p.id, contenido };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "6c5f038f-1058-48ad-80d5-2001eaff874f",
      "name": "Armar contenido"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-embedding-001:embedContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": { \"parts\": [ { \"text\": \"={{ $json.contenido }}\" } ] },\n  \"outputDimensionality\": 768\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "4c4bc65b-7b75-4572-9039-32cd98eb41f6",
      "name": "HTTP Request",
      "credentials": {
        "googlePalmApi": {
          "id": "FxDbLDgP5kKvl8He",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO persona_embedding (persona_id, contenido, embedding)\nVALUES (\n  {{ $('Armar contenido').item.json.persona_id }},\n  '{{ $('Armar contenido').item.json.contenido.replaceAll(\"'\", \"''\") }}',\n  '[{{ $json.embedding.values.join(\",\") }}]'::vector\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        0
      ],
      "id": "eda8d216-ad9c-4f32-9307-3a59cf815222",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "RBTY0Y0JrfGucqyf",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Borrar viejo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Borrar viejo": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Armar contenido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar contenido": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "cdb78823-d3ff-4b17-a7dd-9c58437946e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "213671391374d705a705954e08341f78dc7561b66c83dac9a2f5d0d2ad36bf5e"
  },
  "id": "N0wB03RP9DMQbM1X",
  "tags": []
}